[package]
name = "flame-cat-protocol"
description = "Render command protocol for flame.cat"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
serde = { workspace = true }

[dev-dependencies]
serde_json = { workspace = true }

[lints]
workspace = true
